<!--   
{% extends "base.html" %}
{% block content %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VGS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<form class="form-horizontal2 boxed" id="submitRedact" method="POST" action="/ccPost/">
    <!--CREDIT CARD PAYMENT-->
    {% csrf_token %}
    <div class="panel panel-info">
        <div class="form-group">
            <div class="col-md-12">
                <label for="pan_number" id="pan_number_label">Credit Card Number</label>
                <input class="form-control" placeholder="Card Number" type="text" name="cc_number" maxlength="16" id="pan_number" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="pan_exp" id="pan_exp_label">CC Expiration</label>
            <input class="form-control" placeholder="Card Expiration" type="text" name="cc_exp" maxlength="5" id="pan_exp">
        </div>
    </div>
    <div class="form-group">
        <label for="pan_cvv" id="pan_cvv_label">CC CVV</label>
        <input class="form-control" placeholder="CVV" type="text" name="cc_cvv" maxlength="3" id="pan_cvv" value="">
    </div>
   
    <button type="submit" >Redact data</button>
</form>


<h1>Redacted data: {{ message }}</h1>
<form method="GET" action="/ccet">
    <input placeholder="alias here" type="text" name="message">
    <button type="submit" id="submitReveal">Reveal data</button>
</form>

<h1>Revealed data:</h1>
<div>{{ response.data }}</div>

<script>

//   js
$(document).ready(function () {
$('#submitRedact').click(function(){          

var data = 'http://127.0.0.1:8000/ccPost/';
data.card_number = $('#pan_number').val();
data.exp_date = $('#pan_exp').val();
data.cvv = $('#pan_cvv').val();

$.ajax({
    type: "POST",
    url: "http://127.0.0.1:8000/ccPost/",
    data: data,
    // JSON.stringify.data,
    contentType: "application/json; charset=utf-8",
    dataType: "JSON",
    beforeSend: function (xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
    },
    // beforeSend: function(xhr, settings) {
    //               if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
    //                       xhr.setRequestHeader("X-CSRFToken", {% csrf_token %});
    //            }
    //       },
    success: function(data){
        alert(data);
    },
    failure: function(errMsg) {
        alert(errMsg);
    }
});
});
});
    
    </script>
<!-- {% endblock %} -->
</body>
</html>